.operate {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  box-shadow: 0 0 5px #fff;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  &-item {
    color: #fff;
    padding: 1rem;
    white-space: nowrap;
    border-right: 1px solid #fff;
    cursor: pointer;
    &:last-child {
      border-right: 0;
    }
  }
}
